In [35]:
df.head()

,ID,Gender,DOB,10percentage,10board,12graduation,12percentage,12board,CollegeID,CollegeTier,...,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Salary
0,604399,f,1990-10-22,87.80,cbse,2009,84.00,cbse,6920,1,...,-1,-1,-1,-1,-0.1590,0.3789,1.2396,0.14590,0.2889,445000
1,988334,m,1990-05-15,57.00,cbse,2010,64.50,cbse,6624,2,...,-1,-1,-1,-1,1.1336,0.0459,1.2396,0.52620,-0.2859,110000
2,301647,m,1989-08-21,77.33,"maharashtra state board,pune",2007,85.17,amravati divisional board,9084,2,...,-1,-1,260,-1,0.5100,-0.1232,1.5428,-0.29020,-0.2875,255000
3,582313,m,1991-05-04,84.30,cbse,2009,86.00,cbse,8195,1,...,-1,-1,-1,-1,-0.4463,0.2124,0.3174,0.27270,0.4805,420000
4,339001,f,1990-10-30,82.00,cbse,2008,75.00,cbse,4889,2,...,-1,-1,-1,-1,-1.4992,-0.7473,-1.0697,0.06223,0.1864,200000

In [18]:
import pandas as pd
import numpy as np
import os
import pickle
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import __version__ as sklearn_version
from sklearn.decomposition import PCA
from sklearn import preprocessing
from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split, cross_validate, GridSearchCV, learning_curve
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.dummy import DummyRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.feature_selection import SelectKBest, f_regression
import datetime

In [16]:
#libraries to use
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import minmax_scale
import sweetviz as sv
%matplotlib inline
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import RFE
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

In [6]:
df=pd.read_csv('/Users/emmanueloyedeji/Downloads/Engineering_graduate_salary.csv')
df

,ID,Gender,DOB,10percentage,10board,12graduation,12percentage,12board,CollegeID,CollegeTier,...,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Salary
0,604399,f,1990-10-22,87.80,cbse,2009,84.00,cbse,6920,1,...,-1,-1,-1,-1,-0.1590,0.3789,1.2396,0.14590,0.2889,445000
1,988334,m,1990-05-15,57.00,cbse,2010,64.50,cbse,6624,2,...,-1,-1,-1,-1,1.1336,0.0459,1.2396,0.52620,-0.2859,110000
2,301647,m,1989-08-21,77.33,"maharashtra state board,pune",2007,85.17,amravati divisional board,9084,2,...,-1,-1,260,-1,0.5100,-0.1232,1.5428,-0.29020,-0.2875,255000
3,582313,m,1991-05-04,84.30,cbse,2009,86.00,cbse,8195,1,...,-1,-1,-1,-1,-0.4463,0.2124,0.3174,0.27270,0.4805,420000
4,339001,f,1990-10-30,82.00,cbse,2008,75.00,cbse,4889,2,...,-1,-1,-1,-1,-1.4992,-0.7473,-1.0697,0.06223,0.1864,200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2993,103174,f,1989-04-17,75.00,0,2005,73.00,0,1263,2,...,-1,-1,-1,-1,-1.1901,0.9688,-1.0697,1.35490,0.0284,120000
2994,352811,f,1991-07-22,84.00,state board,2008,77.00,state board,9481,2,...,-1,-1,-1,-1,-0.1082,0.0328,-0.4891,-0.29020,0.5024,120000
2995,287070,m,1988-11-24,91.40,bsemp,2006,65.56,bsemp,547,2,...,-1,-1,-1,-1,-0.8810,0.1888,-0.3440,0.06230,0.6603,385000
2996,317336,m,1988-08-25,88.64,karnataka education board,2006,65.16,karnataka education board,1629,2,...,-1,-1,-1,-1,1.4374,1.2808,-0.4891,-1.46537,0.5419,530000
2997,993701,m,1992-05-27,77.00,state board,2009,75.50,state board,1111,2,...,-1,-1,-1,-1,-0.5899,-1.9521,0.3174,1.16010,-2.3937,200000

In [4]:
df.head()

,ID,Gender,DOB,10percentage,10board,12graduation,12percentage,12board,CollegeID,CollegeTier,...,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Salary
0,604399,f,1990-10-22,87.80,cbse,2009,84.00,cbse,6920,1,...,-1,-1,-1,-1,-0.1590,0.3789,1.2396,0.14590,0.2889,445000
1,988334,m,1990-05-15,57.00,cbse,2010,64.50,cbse,6624,2,...,-1,-1,-1,-1,1.1336,0.0459,1.2396,0.52620,-0.2859,110000
2,301647,m,1989-08-21,77.33,"maharashtra state board,pune",2007,85.17,amravati divisional board,9084,2,...,-1,-1,260,-1,0.5100,-0.1232,1.5428,-0.29020,-0.2875,255000
3,582313,m,1991-05-04,84.30,cbse,2009,86.00,cbse,8195,1,...,-1,-1,-1,-1,-0.4463,0.2124,0.3174,0.27270,0.4805,420000
4,339001,f,1990-10-30,82.00,cbse,2008,75.00,cbse,4889,2,...,-1,-1,-1,-1,-1.4992,-0.7473,-1.0697,0.06223,0.1864,200000

In [5]:
df.describe()

,ID,10percentage,12graduation,12percentage,CollegeID,CollegeTier,collegeGPA,CollegeCityID,CollegeCityTier,GraduationYear,...,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Salary
count,2.998000e+03,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,...,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2.998000e+03
mean,6.648926e+05,77.666264,2008.080720,74.341061,5210.210807,1.924616,71.509857,5210.210807,0.296197,2011.939960,...,24.138759,16.267845,31.068379,1.946965,-0.038714,0.126217,-0.008662,-0.145965,-0.141111,3.051748e+05
std,3.648951e+05,10.002785,1.631814,11.120299,4776.609877,0.264053,8.122462,4776.609877,0.456655,36.780582,...,99.785138,86.054739,103.552963,32.241501,1.024974,0.955831,0.962695,1.012901,1.007134,2.123312e+05
min,1.124400e+04,43.000000,1998.000000,40.000000,2.000000,1.000000,6.630000,2.000000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-3.893300,-5.781600,-4.600900,-2.643000,-7.375700,3.500000e+04
25%,3.334648e+05,71.140000,2007.000000,66.000000,526.250000,2.000000,66.530000,526.250000,0.000000,2012.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-0.649100,-0.435300,-0.604800,-0.868200,-0.669200,1.800000e+05
50%,6.396945e+05,78.965000,2008.000000,74.000000,4027.500000,2.000000,71.800000,4027.500000,0.000000,2013.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,0.046400,0.212400,0.091400,-0.172700,-0.094300,3.000000e+05
75%,9.951770e+05,85.600000,2009.000000,82.600000,8822.250000,2.000000,76.300000,8822.250000,1.000000,2014.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,0.702700,0.812800,0.672000,0.526200,0.502400,3.700000e+05
max,1.297877e+06,97.760000,2012.000000,98.700000,18409.000000,2.000000,99.930000,18409.000000,1.000000,2017.000000,...,623.000000,660.000000,548.000000,500.000000,1.995300,1.904800,2.161700,3.352500,1.630200,4.000000e+06

# EXTRACT SALARY DATA

In [21]:
Salary_data =df['Salary']

In [39]:
X = df['Logical']

In [10]:
Salary_data.T

0       445000
1       110000
2       255000
3       420000
4       200000
         ...
2993    120000
2994    120000
2995    385000
2996    530000
2997    200000
Name: Salary, Length: 2998, dtype: int64

In [18]:
dg = df[df.columns.difference(['Salary'])]

In [19]:
dg.shape

(2998, 33)

In [7]:
y = df['collegeGPA']

In [43]:
numeric_cols = df.select_dtypes(exclude='number')
V = df.drop(numeric_cols, axis=1, inplace=True)

In [50]:
x = df.iloc[:, 25].values
y = df.iloc[:, 2].values
# Here is the trick
x = x.reshape(-1,1)

# Standardize the magnitude of numeric features

Using sklearn preprocessing standardize the scale of the features of the dataframe. Also, we want to hold out our response variable(s) so we can have their true values available for model performance review. Let's set collegeGPA to the y variable as our response for scaling and modeling. Later we will go back and consider the logical,collegecityTier and Graduationyear. For now leave them in the development dataframe.#

In [ ]:
 # first we import the preprocessing pack sklearnage from the sklearn library
from  sklearn import preprocessing

# Declare an explanatory variable, called X,and assign it the result of dropping 'collegeTier' and 'collegeGPA' from the df
X = df.drop(['CollegeTier','collegeGPA'], axis=1)
# Declare a response variable, called y, and assign it the collegeGPA column of the df 
y = df['collegeGPA']

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = preprocessing.StandardScaler().fit(X)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X_scaled=scaler.transform(x)

In [57]:
scaler = preprocessing.StandardScaler().fit(x)
X_scaled=scaler.transform(x)

# Split into training and testing datasets

In [58]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split
# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()
# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train, X_test, y_train,y_test= train_test_split(X_scaled, y, test_size=0.25, random_state=1)

In [60]:
scaler = preprocessing.StandardScaler().fit(X)

# MODELLING

In [61]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split
# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()
# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train, X_test, y_train,y_test= train_test_split(X_scaled, y, test_size=0.25, random_state=1)

Fit Models with a Training Dataset

Model 1

In [62]:
#all first model set
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

In [63]:
# Make a variable called y_pred and assign it the result of calling predict() on our model variable with parameter X_test
y_pred=model.predict(X_test)
y_pred

array([64.48447255, 70.91105743, 65.86866006, 73.8524559 , 74.96474944,
       72.39411548, 71.65258646, 75.16249051, 71.65258646, 67.45058865,
       70.91105743, 72.64129183, 75.11305524, 71.31642663, 69.74932863,
       73.62999719, 71.12115732, 70.66388109, 68.43929402, 72.46826839,
       67.25284758, 73.13564451, 68.81005853, 66.09111877, 71.80089226,
       70.21154839, 73.87717353, 71.00004092, 73.45697375, 67.69776499,
       70.36726948, 72.96262107, 71.40541012, 68.43929402, 67.50002392,
       69.42799938, 74.61870256, 73.38282085, 72.44355075, 72.59185656,
       69.11161367, 71.00498444, 72.19637441, 69.18082304, 72.80689997,
       71.80336403, 70.70342931, 70.29311658, 68.24155294, 72.44355075,
       74.14906751, 74.19850278, 69.97178734, 70.66388109, 74.67802488,
       72.04806861, 72.39411548, 74.17378514, 71.80089226, 75.11305524,
       70.66388109, 72.64129183, 74.8658789 , 73.23451505, 73.75358536,
       68.96330786, 69.18082304, 74.8658789 , 74.07491461, 66.95623597,
       69.13138777, 71.85032753, 74.82385892, 74.49511439, 73.82773827,
       73.20979741, 73.65224306, 72.60668714, 73.87717353, 73.67943246,
       70.8121869 , 70.08548845, 65.72035426, 74.12434988, 68.9336467 ,
       69.63809927, 69.25497594, 70.41670475, 72.54242129, 68.27368587,
       72.88846817, 67.45058865, 73.778303  , 73.38282085, 73.30125266,
       72.24580968, 72.09750387, 76.00289007, 72.88846817, 73.71156539,
       71.50428065, 72.55725187, 71.65258646, 74.16636985, 74.45309441,
       70.41670475, 71.94919807, 72.64129183, 72.51770365, 71.8997628 ,
       70.91105743, 74.47039675, 65.91809533, 73.87717353, 71.05936324,
       64.89478528, 74.09468871, 72.11974974, 70.66388109, 71.20025375,
       72.44355075, 72.64129183, 70.16952841, 71.751457  , 70.62186111,
       70.16952841, 70.29311658, 71.05936324, 69.70978041, 67.20341231,
       74.9400318 , 71.8997628 , 74.74229073, 69.92235207, 73.62999719,
       68.85207851, 70.98521034, 71.15823378, 66.85736543, 71.65258646,
       73.62999719, 69.42799938, 69.18082304, 72.51770365, 66.75849489,
       72.18648736, 71.30653958, 72.10491916, 72.64129183, 69.18082304,
       73.62999719, 70.91105743, 74.19850278, 72.30266024, 70.41670475,
       74.64342019, 72.14693914, 73.13564451, 71.40541012, 72.29524495,
       73.03677397, 73.72886773, 71.50428065, 72.64129183, 70.16952841,
       73.13564451, 72.39411548, 71.8997628 , 69.18082304, 71.85774282,
       73.778303  , 74.59398493, 69.18082304, 74.28748626, 72.64129183,
       72.97003636, 69.97178734, 74.27265568, 70.37468477, 71.85032753,
       72.24580968, 72.14693914, 72.19637441, 73.75358536, 74.00076171,
       70.29311658, 70.26839895, 69.27969358, 73.53112666, 70.41670475,
       72.29030142, 72.77971058, 70.78746926, 73.47674786, 73.62999719,
       72.64129183, 70.41670475, 72.88846817, 71.8997628 , 72.46826839,
       71.67236057, 74.28254273, 73.20979741, 73.1702492 , 69.18082304,
       70.16952841, 71.98133099, 74.51983202, 71.33125721, 71.60315119,
       72.10986269, 73.87717353, 72.14693914, 70.91105743, 69.97178734,
       72.39411548, 72.34468022, 74.12434988, 70.07065787, 73.39765143,
       70.91105743, 69.42799938, 73.53112666, 68.19211768, 68.85207851,
       74.39624385, 71.65258646, 68.68647036, 69.8729168 , 73.13564451,
       73.38282085, 75.46898917, 72.8390329 , 73.1702492 , 72.64129183,
       74.22322041, 71.40541012, 70.66388109, 73.33338558, 75.59257735,
       70.0212226 , 70.41670475, 71.8997628 , 66.93151833, 69.18082304,
       72.14693914, 73.38282085, 73.13564451, 71.1162138 , 69.97178734,
       71.40541012, 73.38282085, 74.12434988, 73.62999719, 72.75499294,
       69.67517573, 73.97604407, 74.44567912, 74.91531417, 72.44355075,
       75.60740793, 66.70905962, 71.85032753, 69.32912885, 65.9675306 ,
       72.78959763, 70.91105743, 71.80089226, 71.30653958, 72.29524495,
       72.93790344, 69.23025831, 72.09750387, 72.14693914, 73.00216928,
       73.23451505, 73.82773827, 76.10176061, 74.76700836, 72.54242129,
       66.58547145, 74.61870256, 74.27265568, 72.88846817, 71.40541012,
       66.70905962, 71.15823378, 70.76275163, 75.23664341, 74.37152622,
       69.67517573, 68.9336467 , 66.26414221, 70.66388109, 68.73590563,
       74.14659575, 75.48381976, 67.79663553, 73.62999719, 73.13564451,
       71.751457  , 71.60315119, 76.10176061, 72.59185656, 71.20766904,
       70.66388109, 72.69072709, 69.4675476 , 69.67517573, 71.40541012,
       71.8997628 , 72.14693914, 73.87717353, 72.14693914, 70.91105743,
       73.95874173, 71.06430677, 72.9873387 , 74.27265568, 70.41670475,
       73.87717353, 71.30653958, 66.58547145, 70.82948924, 70.66388109,
       74.07491461, 74.7175731 , 73.28395031, 70.31783421, 73.85739943,
       72.9873387 , 71.15823378, 70.21896368, 69.57630519, 73.08620924,
       69.67517573, 73.62999719, 71.62786882, 71.15823378, 72.14693914,
       71.85032753, 73.18507978, 71.35597485, 74.61870256, 70.24368131,
       67.50002392, 75.01418471, 72.04806861, 68.19211768, 71.70202173,
       68.43929402, 74.7175731 , 69.70978041, 71.00992797, 69.47001936,
       73.61022309, 73.13564451, 68.43929402, 71.8997628 , 73.97604407,
       74.17378514, 68.02650953, 72.29524495, 67.238017  , 65.57204845,
       74.37152622, 73.67943246, 70.91105743, 74.12434988, 66.95623597,
       73.62999719, 72.14693914, 73.28395031, 69.26239123, 75.36023158,
       69.47743465, 73.778303  , 68.43929402, 75.40966685, 74.89554006,
       72.70061415, 71.45484539, 71.05936324, 72.76488   , 71.40541012,
       72.44355075, 73.38282085, 70.26839895, 70.16952841, 67.32700048,
       73.13564451, 71.65258646, 72.39411548, 73.82773827, 75.66673025,
       70.16952841, 73.72886773, 73.87717353, 74.12434988, 73.42484083,
       75.11305524, 74.51983202, 66.46188328, 71.45484539, 69.18082304,
       71.15823378, 74.51983202, 72.44355075, 68.88421143, 70.26839895,
       74.66813783, 71.39552306, 72.29524495, 68.24155294, 74.98946707,
       70.66388109, 73.62999719, 71.45484539, 70.91105743, 69.42799938,
       73.76100065, 68.98308197, 73.778303  , 72.59185656, 74.61870256,
       68.9336467 , 74.17378514, 73.38282085, 64.8799547 , 72.64129183,
       69.23025831, 73.62999719, 70.91105743, 73.28395031, 68.9336467 ,
       73.62999719, 67.45058865, 65.62148372, 68.19211768, 72.35209551,
       70.16952841, 73.01205634, 74.29737332, 72.85633524, 71.65258646,
       74.89059654, 70.31783421, 67.8460708 , 72.29524495, 72.80442821,
       71.40541012, 75.36023158, 75.11305524, 73.87717353, 69.93471088,
       72.39411548, 74.61870256, 71.15823378, 74.24793805, 72.48804249,
       73.778303  , 69.67517573, 67.94494133, 68.43929402, 69.92235207,
       67.69776499, 68.63703509, 68.6024304 , 73.01205634, 73.13564451,
       67.94494133, 68.9336467 , 71.15823378, 74.70027075, 73.87717353,
       75.45910212, 73.05160455, 70.16952841, 67.94494133, 74.7175731 ,
       75.65684319, 70.91105743, 73.87717353, 68.81005853, 72.14693914,
       74.61870256, 67.20341231, 72.69072709, 73.82773827, 74.37152622,
       68.38985875, 73.95132644, 74.05019697, 72.22850734, 74.8658789 ,
       69.52686992, 70.51557529, 73.03677397, 75.31079632, 71.53641358,
       69.03746076, 71.15823378, 68.68647036, 73.72886773, 74.37152622,
       71.20766904, 65.54733082, 69.42799938, 73.62999719, 66.0416835 ,
       71.85032753, 73.58797721, 70.9604927 , 72.74016236, 69.24261713,
       66.91421599, 64.23729621, 73.65965835, 74.64342019, 70.16952841,
       70.66388109, 69.77404626, 72.35209551, 73.38282085, 73.01205634,
       72.56713892, 70.8121869 , 72.39411548, 74.61870256, 68.14268241,
       74.61870256, 74.12434988, 75.60740793, 68.68647036, 70.78746926,
       71.8997628 , 68.47884223, 72.24580968, 69.42799938, 74.5890414 ,
       70.41670475, 72.39411548, 71.15823378, 69.11902896, 74.32209095,
       69.67517573, 73.3729338 , 72.96262107, 72.09750387, 69.42799938,
       72.96262107, 68.68647036, 69.37856412, 73.62999719, 74.61870256,
       73.45697375, 69.67517573, 71.85774282, 68.9336467 , 68.98308197,
       71.96897218, 67.00567123, 71.69213467, 72.22850734, 67.74720026,
       68.19211768, 74.42096149, 70.16952841, 71.65258646, 70.36726948,
       74.12434988, 75.06361997, 70.66388109, 72.17907207, 71.80089226,
       70.66388109, 72.88846817, 64.48447255, 72.9873387 , 70.8121869 ,
       69.67517573, 73.97604407, 70.41670475, 69.18082304, 70.41670475,
       70.56501056, 75.46898917, 74.28748626, 69.92235207, 70.81713042,
       68.19211768, 73.38282085, 69.77404626, 71.60315119, 73.50640902,
       75.86447132, 66.70905962, 74.8658789 , 74.40118738, 71.72179583,
       72.88846817, 73.03677397, 73.38282085, 71.69213467, 72.9873387 ,
       74.20591807, 74.9400318 , 69.42799938, 68.88421143, 65.47317792,
       74.32209095, 74.81644363, 69.92235207, 70.66388109, 69.92235207,
       71.60315119, 67.72248263, 70.66388109, 73.13564451, 75.65684319,
       73.13564451, 71.85032753, 66.70905962, 74.00570523, 74.22322041,
       71.65258646, 68.43929402, 70.78746926, 71.15823378, 74.37152622,
       66.67939846, 73.87717353, 72.06784271, 69.72461099, 71.70202173,
       73.79313358, 70.16952841, 69.10667014, 69.10667014, 64.43503728,
       73.87717353, 69.21542773, 74.24793805, 69.92235207, 74.37152622,
       72.2779426 , 66.95623597, 65.9675306 , 71.38810777, 65.9675306 ,
       71.40541012, 74.32209095, 70.0212226 , 74.37152622, 67.82135316,
       68.68647036, 70.41670475, 68.81005853, 75.805149  , 67.54945919,
       67.78180495, 70.04594024, 69.50956758, 70.31783421, 69.72461099,
       65.22600157, 71.94919807, 69.92235207, 73.72886773, 73.18507978,
       73.48169139, 73.18507978, 69.27969358, 75.07845055, 69.47743465,
       73.62999719, 73.13564451, 72.39411548, 68.47884223, 73.43225612,
       70.16952841, 70.91105743, 69.92235207, 70.04594024, 74.17378514,
       67.69776499, 69.30441121, 71.60315119, 71.8997628 , 69.34643119,
       68.9336467 , 73.67201717, 69.32912885, 71.40541012, 70.41670475,
       70.16952841, 70.49827294, 68.33053643, 68.38985875, 69.67517573,
       72.64129183, 70.04594024, 71.05936324, 73.75358536, 74.27265568,
       70.04594024, 70.08796022, 67.94494133, 72.44355075, 74.37152622,
       67.59889446, 73.56820311, 68.56288219, 69.26239123, 72.88846817,
       69.18082304, 73.87717353, 71.65258646, 72.24580968, 69.95448499,
       68.19211768, 69.84078387, 73.84009708, 72.305132  , 73.62999719,
       74.7175731 , 67.69776499, 73.48169139, 67.59889446, 71.80089226,
       71.15823378, 68.19211768, 69.42799938, 71.8997628 , 74.8658789 ,
       72.39411548, 73.38282085, 73.80302063, 72.39411548, 70.41670475,
       68.80017148, 72.39411548, 73.45697375, 73.38282085, 73.30125266,
       73.13564451, 72.76488   , 65.22600157, 72.89835522, 70.50816   ])

In [65]:
# using the explained_variance_score() and mean_absolute_error() metrics

In [64]:
from sklearn.metrics import  explained_variance_score
from sklearn.metrics import  mean_absolute_error
print(explained_variance_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

0.10517023772998646
5.470136851429188

In [67]:
df

,ID,10percentage,12graduation,12percentage,CollegeID,CollegeTier,collegeGPA,CollegeCityID,CollegeCityTier,GraduationYear,...,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Salary
0,604399,87.80,2009,84.00,6920,1,73.82,6920,1,2013,...,-1,-1,-1,-1,-0.1590,0.3789,1.2396,0.14590,0.2889,445000
1,988334,57.00,2010,64.50,6624,2,65.00,6624,0,2014,...,-1,-1,-1,-1,1.1336,0.0459,1.2396,0.52620,-0.2859,110000
2,301647,77.33,2007,85.17,9084,2,61.94,9084,0,2011,...,-1,-1,260,-1,0.5100,-0.1232,1.5428,-0.29020,-0.2875,255000
3,582313,84.30,2009,86.00,8195,1,80.40,8195,1,2013,...,-1,-1,-1,-1,-0.4463,0.2124,0.3174,0.27270,0.4805,420000
4,339001,82.00,2008,75.00,4889,2,64.30,4889,1,2012,...,-1,-1,-1,-1,-1.4992,-0.7473,-1.0697,0.06223,0.1864,200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2993,103174,75.00,2005,73.00,1263,2,70.00,1263,1,2010,...,-1,-1,-1,-1,-1.1901,0.9688,-1.0697,1.35490,0.0284,120000
2994,352811,84.00,2008,77.00,9481,2,75.20,9481,0,2012,...,-1,-1,-1,-1,-0.1082,0.0328,-0.4891,-0.29020,0.5024,120000
2995,287070,91.40,2006,65.56,547,2,73.19,547,0,2011,...,-1,-1,-1,-1,-0.8810,0.1888,-0.3440,0.06230,0.6603,385000
2996,317336,88.64,2006,65.16,1629,2,74.81,1629,1,2011,...,-1,-1,-1,-1,1.4374,1.2808,-0.4891,-1.46537,0.5419,530000
2997,993701,77.00,2009,75.50,1111,2,69.30,1111,0,2013,...,-1,-1,-1,-1,-0.5899,-1.9521,0.3174,1.16010,-2.3937,200000

In [66]:
print(lm.intercept_) #Print the intercept value from the linear model.

71.57009485892604

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2998 entries, 0 to 2997
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     2998 non-null   int64
 1   10percentage           2998 non-null   float64
 2   12graduation           2998 non-null   int64
 3   12percentage           2998 non-null   float64
 4   CollegeID              2998 non-null   int64
 5   CollegeTier            2998 non-null   int64
 6   collegeGPA             2998 non-null   float64
 7   CollegeCityID          2998 non-null   int64
 8   CollegeCityTier        2998 non-null   int64
 9   GraduationYear         2998 non-null   int64
 10  English                2998 non-null   int64
 11  Logical                2998 non-null   int64
 12  Quant                  2998 non-null   int64
 13  Domain                 2998 non-null   float64
 14  ComputerProgramming    2998 non-null   int64
 15  ElectronicsAndSemicon  2998 non-null   int64
 16  ComputerScience        2998 non-null   int64
 17  MechanicalEngg         2998 non-null   int64
 18  ElectricalEngg         2998 non-null   int64
 19  TelecomEngg            2998 non-null   int64
 20  CivilEngg              2998 non-null   int64
 21  conscientiousness      2998 non-null   float64
 22  agreeableness          2998 non-null   float64
 23  extraversion           2998 non-null   float64
 24  nueroticism            2998 non-null   float64
 25  openess_to_experience  2998 non-null   float64
 26  Salary                 2998 non-null   int64
dtypes: float64(9), int64(18)
memory usage: 632.5 KB

In [155]:
from  sklearn import preprocessing

# Declare an explanatory variable, called X,and assign it the result of dropping '10percentage' and '12percentage' from the df
X = df.drop(['Quant','agreeableness'], axis=1)

# Declare a response variable, called y, and assign it the collegeGPA column of the df 
y = df['Salary']

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = preprocessing.StandardScaler().fit(X)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X_scaled=scaler.transform(X)

In [156]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split
# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()
# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train, X_test, y_train,y_test= train_test_split(X_scaled, y, test_size=0.25, random_state=1)

In [157]:
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

In [150]:
y_pred=model.predict(X_test)
y_pred

array([ 120000.        ,  320000.        ,  145000.        ,
        350000.        ,  385000.        ,  300000.        ,
        240000.        ,  325000.        ,  240000.        ,
       1200000.        ,  120000.        ,  310000.        ,
        200000.        ,  120000.        ,  200000.        ,
        210000.        ,  180000.        ,  450000.        ,
        360000.        , 1800000.        ,   95000.        ,
        500000.        ,  145000.        ,  200000.        ,
        325000.        ,  135000.        ,  300000.        ,
        280000.        ,   35000.        ,  360000.        ,
        200000.        ,  110000.        ,  305000.        ,
        120000.        ,  350000.        ,  215000.        ,
        305000.        ,  400000.        ,  335000.        ,
        240000.        ,  185000.        ,  500000.        ,
        350000.        ,  500000.        ,  410000.        ,
        400000.        ,   75000.        ,  165000.        ,
        200000.        ,  820000.        ,  345000.        ,
        300000.        ,  350000.        ,  180000.        ,
         90000.        ,  120000.        ,  455000.        ,
        350000.        ,  350000.        ,  360000.        ,
         80000.        ,  300000.        ,  375000.        ,
        180000.        ,  300000.        ,   80000.        ,
        120000.        ,  165000.        ,  150000.        ,
         95000.        ,  305000.        ,  140000.        ,
       4000000.        ,  300000.        ,  420000.        ,
        420000.        ,  275000.        ,  350000.        ,
        320000.        ,  300000.        ,  370000.        ,
        180000.        ,  275000.        ,  480000.        ,
        310000.        ,  120000.        ,  175000.        ,
        200000.        ,  300000.        ,  100000.        ,
        450000.        ,   60000.        ,  350000.        ,
        520000.        ,  120000.        ,  340000.        ,
        445000.        ,  625000.        ,  120000.        ,
        335000.        ,  275000.        ,  215000.        ,
        300000.        ,  240000.        ,  195000.        ,
        200000.        ,  310000.        ,  325000.        ,
        300000.        ,  150000.        ,  100000.        ,
        850000.        ,  145000.        ,  240000.        ,
        725000.        ,   85000.        ,  360000.        ,
        260000.        ,  215000.        ,  330000.        ,
        400000.        ,  200000.        ,  180000.        ,
        180000.        ,  100000.        ,  400000.        ,
        150000.        ,  100000.        ,  250000.        ,
        240000.        ,  175000.        ,  470000.        ,
        100000.        ,  225000.        ,  265000.        ,
        245000.        ,  355000.        ,  300000.        ,
        200000.        ,  300000.        ,  400000.        ,
        310000.        ,   95000.        ,  300000.        ,
        170000.        ,  420000.        ,  150000.        ,
        305000.        ,  200000.        ,  120000.        ,
        200000.        ,  220000.        ,  480000.        ,
        380000.        ,   60000.        ,  375000.        ,
        630000.        ,  100000.        ,  335000.        ,
        300000.        ,  325000.        ,  180000.        ,
        105000.        ,  180000.        ,  150000.        ,
        120000.        ,  400000.        ,  240000.        ,
        280000.        ,  360000.        ,  480000.        ,
        335000.        ,  300000.        ,  145000.        ,
        360000.        ,  180000.        ,  110000.        ,
        210000.        ,  340000.        ,  180000.        ,
        380000.        ,  270000.        ,  305000.        ,
        310000.        ,  300000.        ,  505000.        ,
        210000.        ,  160000.        ,  720000.        ,
        450000.        ,  810000.        ,  400000.        ,
        280000.        ,  335000.        ,  310000.        ,
        240000.        ,  145000.        ,  180000.        ,
        370000.        ,  260000.        ,  200000.        ,
        100000.        ,  420000.        ,  550000.        ,
        150000.        ,  360000.        ,  150000.        ,
        450000.        ,  180000.        ,  340000.        ,
        300000.        ,  350000.        ,  150000.        ,
        100000.        ,  200000.        ,  385000.        ,
        300000.        ,  100000.        ,  240000.        ,
        350000.        ,  340000.        ,  180000.        ,
        375000.        ,  360000.        ,  180000.        ,
        320000.        ,  300000.        ,  335000.        ,
        220000.        ,  360000.        ,  150000.        ,
        800000.        ,  310000.        ,  300000.        ,
        350000.        ,  325000.        ,  250000.        ,
        600000.        ,  180000.        ,  450000.        ,
        170000.        ,  400000.        , 1500000.        ,
        180000.        ,  245000.        ,  145000.        ,
        200000.        ,  300000.        ,  465000.        ,
        265000.        ,  200000.        ,  515000.        ,
        200000.        ,  530000.        ,  240000.        ,
        180000.        ,  400000.        ,  140000.        ,
        320000.        ,  370000.        ,  350000.        ,
        125000.        ,   95000.        ,  180000.        ,
        105000.        ,  300000.        ,  120000.        ,
        420000.        ,  300000.        ,  400000.        ,
        320000.        ,  240000.        ,  490000.        ,
        300000.        ,  650000.        ,  330000.        ,
        170000.        ,  325000.        ,  200000.        ,
        335000.        ,  315000.        ,  335000.        ,
        600000.        ,  480000.        ,  535000.        ,
        370000.        ,  120000.        ,  350000.        ,
        190000.        ,  365000.        ,  170000.        ,
        325000.        ,  200000.        ,  180000.        ,
        300000.        ,  350000.        ,  300000.        ,
        140000.        ,  210000.        ,  200000.        ,
        180000.        ,  300000.        ,  300000.        ,
        145000.        ,   95000.        ,  360000.        ,
        335000.        ,  550000.        ,  240000.        ,
        100000.        ,  180000.        ,  430000.        ,
        300000.        ,  350000.        ,  200000.        ,
        560000.        ,  100000.        ,  410000.        ,
        305000.        ,  105000.        ,  420000.        ,
        190000.        ,  145000.        ,  150000.        ,
        205000.        ,  475000.        ,  305000.        ,
        360000.        ,  460000.        ,  340000.        ,
        335000.        ,  325000.        ,  675000.        ,
        120000.        ,  650000.        ,  200000.        ,
        110000.        ,  430000.        ,  520000.        ,
        335000.        ,  390000.        ,  405000.        ,
        100000.        ,  455000.        ,  280000.        ,
        910000.        ,  220000.        ,  510000.        ,
        150000.        ,  680000.        ,  260000.        ,
        375000.        ,   85000.        ,  360000.        ,
        240000.        ,  315000.        ,  450000.        ,
        165000.        ,  200000.        ,  350000.        ,
        325000.        ,  100000.        ,  300000.        ,
        275000.        ,  240000.        ,  240000.        ,
        400000.        ,  300000.        ,  330000.        ,
        240000.        ,  505000.        ,  300000.        ,
        170000.        ,  160000.        ,  405000.        ,
        450000.        ,  240000.        ,  205000.        ,
        450000.        ,  235000.        ,  150000.        ,
        120000.        ,  320000.        ,  495000.        ,
        230000.        ,  390000.        ,  420000.        ,
        520000.        ,  225000.        ,  325000.        ,
        300000.        ,  140000.        ,  200000.        ,
        500000.        ,  305000.        ,  180000.        ,
        180000.        ,  320000.        ,   35000.        ,
        350000.        ,  300000.        ,  350000.        ,
        210000.        ,  360000.        ,   95000.        ,
        100000.        ,  315000.        ,  360000.        ,
        200000.        ,  560000.        ,  300000.        ,
        100000.        ,  450000.        ,  300000.        ,
        365000.        ,  180000.        ,  320000.        ,
        390000.        ,  250000.        ,  310000.        ,
        480000.        ,  180000.        ,  240000.        ,
        240000.        ,  550000.        ,  600000.        ,
        315000.        ,  820000.        ,  115000.        ,
        320000.        ,  300000.        ,  300000.        ,
        200000.        ,  325000.        ,   90000.        ,
        450000.        ,  240000.        ,  240000.        ,
        210000.        ,  425000.        ,  340000.        ,
        250000.        ,  300000.        ,  300000.        ,
        200000.        ,  300000.        ,  320000.        ,
        315000.        ,  180000.        ,  325000.        ,
        300000.        ,  120000.        ,  340000.        ,
        450000.        ,  165000.        ,  370000.        ,
        325000.        ,  120000.        ,  460000.        ,
        120000.        , 2600000.        ,  180000.        ,
        390000.        ,  150000.        ,  820000.        ,
        300000.        ,  180000.        ,  180000.        ,
        120000.        ,  300000.        ,  450000.        ,
        210000.        ,  120000.        ,  300000.        ,
        180000.        ,  325000.        ,  325000.        ,
        165000.        ,  260000.        ,  305000.        ,
        315000.        ,  240000.        ,  175000.        ,
        105000.        ,  120000.        ,  370000.        ,
        140000.        ,  240000.        ,  315000.        ,
        325000.00000001,  240000.        ,  430000.        ,
        410000.        ,  240000.        ,  615000.        ,
        200000.        ,  180000.        ,  275000.        ,
        360000.        ,  300000.        ,  325000.        ,
        300000.        ,  180000.        ,  325000.        ,
        310000.        ,  180000.        ,  260000.        ,
        145000.        ,  180000.        ,  135000.        ,
        305000.        ,  200000.        ,  295000.        ,
        400000.        ,  155000.        ,  180000.        ,
        180000.        ,  415000.        ,  200000.        ,
        110000.        ,  200000.        ,  180000.        ,
         70000.        ,  200000.        ,  350000.        ,
        140000.        ,  190000.        ,  360000.        ,
        325000.        ,  150000.        ,  325000.        ,
        480000.        ,  200000.        ,  205000.        ,
        200000.        ,  170000.        ,  150000.        ,
        600000.        ,  200000.        ,  525000.        ,
        400000.        ,  360000.        ,  225000.        ,
         70000.        ,  320000.        ,  315000.        ,
        200000.        ,  320000.        ,  325000.        ,
        180000.        ,  395000.        ,  180000.        ,
        120000.        ,  300000.        ,  100000.        ,
        370000.        ,  110000.        ,  300000.        ,
        360000.        ,  550000.        ,  240000.        ,
        180000.        ,  320000.        ,  320000.        ,
        180000.        ,  220000.        ,  225000.        ,
        150000.        ,  315000.        ,  420000.        ,
        350000.        ,  350000.        ,  120000.        ,
         95000.        ,  180000.        ,  145000.        ,
        105000.        ,  270000.        ,  200000.        ,
        350000.        ,  110000.        ,  250000.        ,
        350000.        ,  250000.        ,  120000.        ,
        200000.        ,  325000.        ,  140000.        ,
        450000.        ,  300000.        ,  140000.        ,
        130000.        ,  330000.        ,  250000.        ,
        305000.        ,  530000.        ,  180000.        ,
        405000.        ,  430000.        ,  455000.        ,
        325000.        ,  450000.        ,  120000.        ,
        235000.        ,  510000.        ,  395000.        ,
        325000.        ,  225000.        ,  110000.        ,
        185000.        ,  450000.        ,  280000.        ,
        400000.        ,  445000.        ,  200000.        ,
        400000.        ,  180000.        ,  300000.        ,
        350000.        ,  465000.        ,  350000.        ,
        150000.        ,  260000.        ,  630000.        ,
        325000.        ,  180000.        ,  105000.        ,
        100000.        ,  315000.        ,  200000.        ,
        100000.        ,  325000.        ,  155000.        ,
        200000.        ,  720000.        ,  100000.        ,
        100000.        ,  500000.        ,  450000.        ,
        450000.        ,  300000.        ,  325000.        ,
        620000.        ,  215000.        ,  300000.        ,
        350000.        ,  120000.        ,  180000.        ,
        100000.        ,  400000.        ,  180000.        ,
        305000.        ,  125000.        ,  385000.        ,
        230000.        ,  180000.        ,  395000.        ,
        750000.        ,  380000.        ,  310000.        ,
        240000.        ,  180000.        ,  480000.        ,
        310000.        ,  120000.        ,  180000.        ,
        155000.        ,  180000.        ,  380000.        ,
        165000.        ,  250000.        ,  100000.        ,
        180000.        ,   90000.        ,  115000.        ,
        430000.        ,  500000.        ,  180000.        ,
        280000.        ,  400000.        ,  300000.        ,
        120000.        ,  210000.        ,  100000.        ,
        100000.        ,  300000.        ,  305000.        ,
        375000.        ,  300000.        ,  220000.        ,
        305000.        ,  105000.        ,  300000.        ,
        240000.        ,  240000.        ,  120000.        ,
        430000.        ,  385000.        ,  150000.        ,
        305000.        ,  390000.        ,  240000.        ,
        275000.        ,  190000.        ,  300000.        ,
        310000.        ,  510000.        ,  120000.        ,
        120000.        ,  300000.        ,  350000.        ,
        130000.        ,  240000.        ,  120000.        ,
        500000.        ,  395000.        ,  220000.        ,
        640000.        ,  180000.        ,  120000.        ,
         50000.        ,  500000.        ,  355000.        ,
        295000.        ,  450000.        ,  360000.        ,
        150000.        ,  495000.        ,  170000.        ,
        330000.        ,  120000.        ,  120000.        ,
        145000.        ,  325000.        ,  350000.        ,
        275000.        ,  220000.        ,  300000.        ,
        500000.        ,  460000.        ,  110000.        ,
        240000.        ,  300000.        ,  325000.        ,
        730000.        ,  225000.        ,  325000.        ,
        200000.        ,  100000.        ,  340000.        ])

In [158]:
from sklearn.metrics import  explained_variance_score
from sklearn.metrics import  mean_absolute_error
print(explained_variance_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

1.0
2.521555870771408e-10

In [77]:
print(lm.intercept_)

71.50985657104738

In [86]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split
# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()
# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train, X_test, y_train,y_test= train_test_split(X_scaled, y, test_size=0.25, random_state=1)

In [144]:
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

In [145]:
y_pred=model.predict(X_test)
y_pred

array([ 120000.        ,  320000.        ,  145000.        ,
        350000.        ,  385000.        ,  300000.        ,
        240000.        ,  325000.        ,  240000.        ,
       1200000.        ,  120000.        ,  310000.        ,
        200000.        ,  120000.        ,  200000.        ,
        210000.        ,  180000.        ,  450000.        ,
        360000.        , 1800000.        ,   95000.        ,
        500000.        ,  145000.        ,  200000.        ,
        325000.        ,  135000.        ,  300000.        ,
        280000.        ,   35000.        ,  360000.        ,
        200000.        ,  110000.        ,  305000.        ,
        120000.        ,  350000.        ,  215000.        ,
        305000.        ,  400000.        ,  335000.        ,
        240000.        ,  185000.        ,  500000.        ,
        350000.        ,  500000.        ,  410000.        ,
        400000.        ,   75000.        ,  165000.        ,
        200000.        ,  820000.        ,  345000.        ,
        300000.        ,  350000.        ,  180000.        ,
         90000.        ,  120000.        ,  455000.        ,
        350000.        ,  350000.        ,  360000.        ,
         80000.        ,  300000.        ,  375000.        ,
        180000.        ,  300000.        ,   80000.        ,
        120000.        ,  165000.        ,  150000.        ,
         95000.        ,  305000.        ,  140000.        ,
       4000000.        ,  300000.        ,  420000.        ,
        420000.        ,  275000.        ,  350000.        ,
        320000.        ,  300000.        ,  370000.        ,
        180000.        ,  275000.        ,  480000.        ,
        310000.        ,  120000.        ,  175000.        ,
        200000.        ,  300000.        ,  100000.        ,
        450000.        ,   60000.        ,  350000.        ,
        520000.        ,  120000.        ,  340000.        ,
        445000.        ,  625000.        ,  120000.        ,
        335000.        ,  275000.        ,  215000.        ,
        300000.        ,  240000.        ,  195000.        ,
        200000.        ,  310000.        ,  325000.        ,
        300000.        ,  150000.        ,  100000.        ,
        850000.        ,  145000.        ,  240000.        ,
        725000.        ,   85000.        ,  360000.        ,
        260000.        ,  215000.        ,  330000.        ,
        400000.        ,  200000.        ,  180000.        ,
        180000.        ,  100000.        ,  400000.        ,
        150000.        ,  100000.        ,  250000.        ,
        240000.        ,  175000.        ,  470000.        ,
        100000.        ,  225000.        ,  265000.        ,
        245000.        ,  355000.        ,  300000.        ,
        200000.        ,  300000.        ,  400000.        ,
        310000.        ,   95000.        ,  300000.        ,
        170000.        ,  420000.        ,  150000.        ,
        305000.        ,  200000.        ,  120000.        ,
        200000.        ,  220000.        ,  480000.        ,
        380000.        ,   60000.        ,  375000.        ,
        630000.        ,  100000.        ,  335000.        ,
        300000.        ,  325000.        ,  180000.        ,
        105000.        ,  180000.        ,  150000.        ,
        120000.        ,  400000.        ,  240000.        ,
        280000.        ,  360000.        ,  480000.        ,
        335000.        ,  300000.        ,  145000.        ,
        360000.        ,  180000.        ,  110000.        ,
        210000.        ,  340000.        ,  180000.        ,
        380000.        ,  270000.        ,  305000.        ,
        310000.        ,  300000.        ,  505000.        ,
        210000.        ,  160000.        ,  720000.        ,
        450000.        ,  810000.        ,  400000.        ,
        280000.        ,  335000.        ,  310000.        ,
        240000.        ,  145000.        ,  180000.        ,
        370000.        ,  260000.        ,  200000.        ,
        100000.        ,  420000.        ,  550000.        ,
        150000.        ,  360000.        ,  150000.        ,
        450000.        ,  180000.        ,  340000.        ,
        300000.        ,  350000.        ,  150000.        ,
        100000.        ,  200000.        ,  385000.        ,
        300000.        ,  100000.        ,  240000.        ,
        350000.        ,  340000.        ,  180000.        ,
        375000.        ,  360000.        ,  180000.        ,
        320000.        ,  300000.        ,  335000.        ,
        220000.        ,  360000.        ,  150000.        ,
        800000.        ,  310000.        ,  300000.        ,
        350000.        ,  325000.        ,  250000.        ,
        600000.        ,  180000.        ,  450000.        ,
        170000.        ,  400000.        , 1500000.        ,
        180000.        ,  245000.        ,  145000.        ,
        200000.        ,  300000.        ,  465000.        ,
        265000.        ,  200000.        ,  515000.        ,
        200000.        ,  530000.        ,  240000.        ,
        180000.        ,  400000.        ,  140000.        ,
        320000.        ,  370000.        ,  350000.        ,
        125000.        ,   95000.        ,  180000.        ,
        105000.        ,  300000.        ,  120000.        ,
        420000.        ,  300000.        ,  400000.        ,
        320000.        ,  240000.        ,  490000.        ,
        300000.        ,  650000.        ,  330000.        ,
        170000.        ,  325000.        ,  200000.        ,
        335000.        ,  315000.        ,  335000.        ,
        600000.        ,  480000.        ,  535000.        ,
        370000.        ,  120000.        ,  350000.        ,
        190000.        ,  365000.        ,  170000.        ,
        325000.        ,  200000.        ,  180000.        ,
        300000.        ,  350000.        ,  300000.        ,
        140000.        ,  210000.        ,  200000.        ,
        180000.        ,  300000.        ,  300000.        ,
        145000.        ,   95000.        ,  360000.        ,
        335000.        ,  550000.        ,  240000.        ,
        100000.        ,  180000.        ,  430000.        ,
        300000.        ,  350000.        ,  200000.        ,
        560000.        ,  100000.        ,  410000.        ,
        305000.        ,  105000.        ,  420000.        ,
        190000.        ,  145000.        ,  150000.        ,
        205000.        ,  475000.        ,  305000.        ,
        360000.        ,  460000.        ,  340000.        ,
        335000.        ,  325000.        ,  675000.        ,
        120000.        ,  650000.        ,  200000.        ,
        110000.        ,  430000.        ,  520000.        ,
        335000.        ,  390000.        ,  405000.        ,
        100000.        ,  455000.        ,  280000.        ,
        910000.        ,  220000.        ,  510000.        ,
        150000.        ,  680000.        ,  260000.        ,
        375000.        ,   85000.        ,  360000.        ,
        240000.        ,  315000.        ,  450000.        ,
        165000.        ,  200000.        ,  350000.        ,
        325000.        ,  100000.        ,  300000.        ,
        275000.        ,  240000.        ,  240000.        ,
        400000.        ,  300000.        ,  330000.        ,
        240000.        ,  505000.        ,  300000.        ,
        170000.        ,  160000.        ,  405000.        ,
        450000.        ,  240000.        ,  205000.        ,
        450000.        ,  235000.        ,  150000.        ,
        120000.        ,  320000.        ,  495000.        ,
        230000.        ,  390000.        ,  420000.        ,
        520000.        ,  225000.        ,  325000.        ,
        300000.        ,  140000.        ,  200000.        ,
        500000.        ,  305000.        ,  180000.        ,
        180000.        ,  320000.        ,   35000.        ,
        350000.        ,  300000.        ,  350000.        ,
        210000.        ,  360000.        ,   95000.        ,
        100000.        ,  315000.        ,  360000.        ,
        200000.        ,  560000.        ,  300000.        ,
        100000.        ,  450000.        ,  300000.        ,
        365000.        ,  180000.        ,  320000.        ,
        390000.        ,  250000.        ,  310000.        ,
        480000.        ,  180000.        ,  240000.        ,
        240000.        ,  550000.        ,  600000.        ,
        315000.        ,  820000.        ,  115000.        ,
        320000.        ,  300000.        ,  300000.        ,
        200000.        ,  325000.        ,   90000.        ,
        450000.        ,  240000.        ,  240000.        ,
        210000.        ,  425000.        ,  340000.        ,
        250000.        ,  300000.        ,  300000.        ,
        200000.        ,  300000.        ,  320000.        ,
        315000.        ,  180000.        ,  325000.        ,
        300000.        ,  120000.        ,  340000.        ,
        450000.        ,  165000.        ,  370000.        ,
        325000.        ,  120000.        ,  460000.        ,
        120000.        , 2600000.        ,  180000.        ,
        390000.        ,  150000.        ,  820000.        ,
        300000.        ,  180000.        ,  180000.        ,
        120000.        ,  300000.        ,  450000.        ,
        210000.        ,  120000.        ,  300000.        ,
        180000.        ,  325000.        ,  325000.        ,
        165000.        ,  260000.        ,  305000.        ,
        315000.        ,  240000.        ,  175000.        ,
        105000.        ,  120000.        ,  370000.        ,
        140000.        ,  240000.        ,  315000.        ,
        325000.00000004,  240000.        ,  430000.        ,
        410000.        ,  240000.        ,  615000.        ,
        200000.        ,  180000.        ,  275000.        ,
        360000.        ,  300000.        ,  325000.        ,
        300000.        ,  180000.        ,  325000.        ,
        310000.        ,  180000.        ,  260000.        ,
        145000.        ,  180000.        ,  135000.        ,
        305000.        ,  200000.        ,  295000.        ,
        400000.        ,  155000.        ,  180000.        ,
        180000.        ,  415000.        ,  200000.        ,
        110000.        ,  200000.        ,  180000.        ,
         70000.        ,  200000.        ,  350000.        ,
        140000.        ,  190000.        ,  360000.        ,
        325000.        ,  150000.        ,  325000.        ,
        480000.        ,  200000.        ,  205000.        ,
        200000.        ,  170000.        ,  150000.        ,
        600000.        ,  200000.        ,  525000.        ,
        400000.        ,  360000.        ,  225000.        ,
         70000.        ,  320000.        ,  315000.        ,
        200000.        ,  320000.        ,  325000.        ,
        180000.        ,  395000.        ,  180000.        ,
        120000.        ,  300000.        ,  100000.        ,
        370000.        ,  110000.        ,  300000.        ,
        360000.        ,  550000.        ,  240000.        ,
        180000.        ,  320000.        ,  320000.        ,
        180000.        ,  220000.        ,  225000.        ,
        150000.        ,  315000.        ,  420000.        ,
        350000.        ,  350000.        ,  120000.        ,
         95000.        ,  180000.        ,  145000.        ,
        105000.        ,  270000.        ,  200000.        ,
        350000.        ,  110000.        ,  250000.        ,
        350000.        ,  250000.        ,  120000.        ,
        200000.        ,  325000.        ,  140000.        ,
        450000.        ,  300000.        ,  140000.        ,
        130000.        ,  330000.        ,  250000.        ,
        305000.        ,  530000.        ,  180000.        ,
        405000.        ,  430000.        ,  455000.        ,
        325000.        ,  450000.        ,  120000.        ,
        235000.        ,  510000.        ,  395000.        ,
        325000.        ,  225000.        ,  110000.        ,
        185000.        ,  450000.        ,  280000.        ,
        400000.        ,  445000.        ,  200000.        ,
        400000.        ,  180000.        ,  300000.        ,
        350000.        ,  465000.        ,  350000.        ,
        150000.        ,  260000.        ,  630000.        ,
        325000.        ,  180000.        ,  105000.        ,
        100000.        ,  315000.        ,  200000.        ,
        100000.        ,  325000.        ,  155000.        ,
        200000.        ,  720000.        ,  100000.        ,
        100000.        ,  500000.        ,  450000.        ,
        450000.        ,  300000.        ,  325000.        ,
        620000.        ,  215000.        ,  300000.        ,
        350000.        ,  120000.        ,  180000.        ,
        100000.        ,  400000.        ,  180000.        ,
        305000.        ,  125000.        ,  385000.        ,
        230000.        ,  180000.        ,  395000.        ,
        750000.        ,  380000.        ,  310000.        ,
        240000.        ,  180000.        ,  480000.        ,
        310000.        ,  120000.        ,  180000.        ,
        155000.        ,  180000.        ,  380000.        ,
        165000.        ,  250000.        ,  100000.        ,
        180000.        ,   90000.        ,  115000.        ,
        430000.        ,  500000.        ,  180000.        ,
        280000.        ,  400000.        ,  300000.        ,
        120000.        ,  210000.        ,  100000.        ,
        100000.        ,  300000.        ,  305000.        ,
        375000.        ,  300000.        ,  220000.        ,
        305000.        ,  105000.        ,  300000.        ,
        240000.        ,  240000.        ,  120000.        ,
        430000.        ,  385000.        ,  150000.        ,
        305000.        ,  390000.        ,  240000.        ,
        275000.        ,  190000.        ,  300000.        ,
        310000.        ,  510000.        ,  120000.        ,
        120000.        ,  300000.        ,  350000.        ,
        130000.        ,  240000.        ,  120000.        ,
        500000.        ,  395000.        ,  220000.        ,
        640000.        ,  180000.        ,  120000.        ,
         50000.        ,  500000.        ,  355000.        ,
        295000.        ,  450000.        ,  360000.        ,
        150000.        ,  495000.        ,  170000.        ,
        330000.        ,  120000.        ,  120000.        ,
        145000.        ,  325000.        ,  350000.        ,
        275000.        ,  220000.        ,  300000.        ,
        500000.        ,  460000.        ,  110000.        ,
        240000.        ,  300000.        ,  325000.        ,
        730000.        ,  225000.        ,  325000.        ,
        200000.        ,  100000.        ,  340000.        ])

In [152]:
from sklearn.metrics import  explained_variance_score
from sklearn.metrics import  mean_absolute_error
print(explained_variance_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

1.0
2.521555870771408e-10

In [153]:
print(lm.intercept_)

305174.7831887926

# Identify the Final Model

Model	lm intercept	         Mean Absolute Error
Model 1.	0.710                          5.40            
Model 2.	0.715	                   2.424727085781342e-14
Model 3.	305174.78            	       6.005090605e-10

Model Selection:

Model 2